# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
env/
venv/
ENV/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
